/***CSS del NavBar***/ 

.antialiased{
    background-image: url(../image/FondoMenu.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

nav h4{
    font-size: 32px;
    margin: 0%;
}

nav h6{
    margin: 0px 15px 0px 0px;
    font-size: 20px;

}
.nav-item a{
    color: #fff;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif
}
.nav-item a:hover{
    color: rgb(15, 97, 221);
}